# V.1 DataAnalysis

In [1]:
import pandas as pd
import numpy as np
import math
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("dataset_train.csv")

### This should be the output of our first program
It reads the datasets and gives us count, mean, std, min, max, percentiles for each feature

In [3]:
df.describe()

,Index,Arithmancy,Astronomy,Herbology,Defense Against the Dark Arts,Divination,Muggle Studies,Ancient Runes,History of Magic,Transfiguration,Potions,Care of Magical Creatures,Charms,Flying
count,1600.00000,1566.000000,1568.000000,1567.000000,1569.000000,1561.000000,1565.000000,1565.000000,1557.000000,1566.000000,1570.000000,1560.000000,1600.000000,1600.000000
mean,799.50000,49634.570243,39.797131,1.141020,-0.387863,3.153910,-224.589915,495.747970,2.963095,1030.096946,5.950373,-0.053427,-243.374409,21.958012
std,462.02453,16679.806036,520.298268,5.219682,5.212794,4.155301,486.344840,106.285165,4.425775,44.125116,3.147854,0.971457,8.783640,97.631602
min,0.00000,-24370.000000,-966.740546,-10.295663,-10.162119,-8.727000,-1086.496835,283.869609,-8.858993,906.627320,-4.697484,-3.313676,-261.048920,-181.470000
25%,399.75000,38511.500000,-489.551387,-4.308182,-5.259095,3.099000,-577.580096,397.511047,2.218653,1026.209993,3.646785,-0.671606,-250.652600,-41.870000
50%,799.50000,49013.500000,260.289446,3.469012,-2.589342,4.624000,-419.164294,463.918305,4.378176,1045.506996,5.874837,-0.044811,-244.867765,-2.515000
75%,1199.25000,60811.250000,524.771949,5.419183,4.904680,5.667000,254.994857,597.492230,5.825242,1058.436410,8.248173,0.589919,-232.552305,50.560000
max,1599.00000,104956.000000,1016.211940,11.612895,9.667405,10.032000,1092.388611,745.396220,11.889713,1098.958201,13.536762,3.056546,-225.428140,279.070000

In [4]:
def format_decimal(number, decimal):
    return format(number, f'.{decimal}f')

In [5]:
"""
    We need a list of the features to describe. 
    All the non-numerical features can be left out. 
"""

features = list(df.columns)

features = [f for f in features if np.issubdtype(df[f].dtype, np.number)]

print(features)

['Index', 'Arithmancy', 'Astronomy', 'Herbology', 'Defense Against the Dark Arts', 'Divination', 'Muggle Studies', 'Ancient Runes', 'History of Magic', 'Transfiguration', 'Potions', 'Care of Magical Creatures', 'Charms', 'Flying']

In [6]:
def count(feature : str) -> int:
    """
       Count non-NA (NaN, NaT, None) cells for the requested feature.
    """
    return len(df[feature].dropna())


print("COUNT:\n")
for feature in features:
    print(feature, ":", format_decimal(count(feature), 6))

COUNT:

Index : 1600.000000
Arithmancy : 1566.000000
Astronomy : 1568.000000
Herbology : 1567.000000
Defense Against the Dark Arts : 1569.000000
Divination : 1561.000000
Muggle Studies : 1565.000000
Ancient Runes : 1565.000000
History of Magic : 1557.000000
Transfiguration : 1566.000000
Potions : 1570.000000
Care of Magical Creatures : 1560.000000
Charms : 1600.000000
Flying : 1600.000000

In [7]:
def mean(feature : str) -> float:
    """
        Returns the mean for the values of the requested feature.
    """
    return (sum(df[feature].dropna()) / count(feature))

print("MEAN :\n")
for feature in features:
    print(feature, ":", format_decimal(mean(feature),6))

MEAN :

Index : 799.500000
Arithmancy : 49634.570243
Astronomy : 39.797131
Herbology : 1.141020
Defense Against the Dark Arts : -0.387863
Divination : 3.153910
Muggle Studies : -224.589915
Ancient Runes : 495.747970
History of Magic : 2.963095
Transfiguration : 1030.096946
Potions : 5.950373
Care of Magical Creatures : -0.053427
Charms : -243.374409
Flying : 21.958012

In [8]:
def variance(feature : str) -> float:
    mean_val = mean(feature)
    numerator = 0
    for i in df[feature].dropna():
        numerator += (i - mean_val) ** 2
    return (numerator/(count(feature) - 1))

def std(feature : str) -> float:
    """
        Returns sample standard deviation for the requested feature.
    """
    return math.sqrt(variance(feature))

print("STD :\n")
for feature in features:
    print(feature, ":", format_decimal(std(feature),6))

STD :

Index : 462.024530
Arithmancy : 16679.806036
Astronomy : 520.298268
Herbology : 5.219682
Defense Against the Dark Arts : 5.212794
Divination : 4.155301
Muggle Studies : 486.344840
Ancient Runes : 106.285165
History of Magic : 4.425775
Transfiguration : 44.125116
Potions : 3.147854
Care of Magical Creatures : 0.971457
Charms : 8.783640
Flying : 97.631602

In [9]:
def ft_min(feature : str) -> float:
    min = np.nan
    for i in df[feature].dropna():
        min = min if i > min else i 
    return min

print("MIN :\n")
for feature in features:
    print(feature, ":", format_decimal(ft_min(feature),6))

MIN :

Index : 0.000000
Arithmancy : -24370.000000
Astronomy : -966.740546
Herbology : -10.295663
Defense Against the Dark Arts : -10.162119
Divination : -8.727000
Muggle Studies : -1086.496835
Ancient Runes : 283.869609
History of Magic : -8.858993
Transfiguration : 906.627320
Potions : -4.697484
Care of Magical Creatures : -3.313676
Charms : -261.048920
Flying : -181.470000

In [16]:
def ft_max(feature : str) -> float:
    max = np.nan
    for i in df[feature].dropna():
        max = max if i < max else i 
    return max

print("MAX :\n")
for feature in features:
    print(feature, ":", format_decimal(ft_max(feature),6))

MIN :

Index : 1599.000000
Arithmancy : 104956.000000
Astronomy : 1016.211940
Herbology : 11.612895
Defense Against the Dark Arts : 9.667405
Divination : 10.032000
Muggle Studies : 1092.388611
Ancient Runes : 745.396220
History of Magic : 11.889713
Transfiguration : 1098.958201
Potions : 13.536762
Care of Magical Creatures : 3.056546
Charms : -225.428140
Flying : 279.070000

In [32]:
def percentiles(feature : str, percent) -> float:
    arr = np.array(df[feature].dropna())
    arr.sort()
    l = count(feature)/100
    return arr[int(percent * l)]

print("Percentiles (25, 50, 75) :\n")
for feature in features:
    print(feature, ":", format_decimal(percentiles(feature, 25),6))
    print(feature, ":", format_decimal(percentiles(feature, 50),6))
    print(feature, ":", format_decimal(percentiles(feature, 75),6))

Percentiles (25, 50, 75) :

Index : 400.000000
Index : 800.000000
Index : 1200.000000
Arithmancy : 38510.000000
Arithmancy : 49018.000000
Arithmancy : 60828.000000
Astronomy : -489.493777
Astronomy : 261.644731
Astronomy : 525.909540
Herbology : -4.312118
Herbology : 3.469012
Herbology : 5.421046
Defense Against the Dark Arts : -5.259095
Defense Against the Dark Arts : -2.589342
Defense Against the Dark Arts : 4.904680
Divination : 3.099000
Divination : 4.624000
Divination : 5.667000
Muggle Studies : -577.580096
Muggle Studies : -419.164294
Muggle Studies : 254.994857
Ancient Runes : 397.511047
Ancient Runes : 463.918305
Ancient Runes : 597.492230
History of Magic : 2.218653
History of Magic : 4.378176
History of Magic : 5.825242
Transfiguration : 1026.171713
Transfiguration : 1045.533335
Transfiguration : 1058.445388
Potions : 3.644900
Potions : 5.877582
Potions : 8.248789
Care of Magical Creatures : -0.670996
Care of Magical Creatures : -0.043296
Care of Magical Creatures : 0.594446
Charms : -250.647270
Charms : -244.867510
Charms : -232.536750
Flying : -41.840000
Flying : -2.510000
Flying : 50.890000

In [49]:
from tabulate import tabulate
func_list = [count, mean, std, ft_min, ft_max]
rows = []
for func in func_list:
    rows.append(list(map(func, features)))

print(tabulate(rows, headers=features))

   Index    Arithmancy    Astronomy    Herbology    Defense Against the Dark Arts    Divination    Muggle Studies    Ancient Runes    History of Magic    Transfiguration     Potions    Care of Magical Creatures      Charms     Flying
--------  ------------  -----------  -----------  -------------------------------  ------------  ----------------  ---------------  ------------------  -----------------  ----------  ---------------------------  ----------  ---------
1600            1566      1568        1567                            1569           1561                1565             1565              1557                1566       1570                       1560          1600        1600
 799.5         49634.6      39.7971      1.14102                        -0.387863       3.15391          -224.59           495.748             2.96309          1030.1        5.95037                   -0.0534271  -243.374      21.958
 462.025       16679.8     520.298       5.21968                         5.21279        4.1553            486.345          106.285             4.42577            44.1251     3.14785                    0.971457      8.78364    97.6316
   0          -24370      -966.741     -10.2957                        -10.1621        -8.727           -1086.5            283.87             -8.85899           906.627     -4.69748                   -3.31368    -261.049    -181.47
1599          104956      1016.21       11.6129                          9.66741       10.032            1092.39           745.396            11.8897           1098.96      13.5368                     3.05655    -225.428     279.07